@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Lobster&display=swap');


.profile_list{
    display: flex;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
    margin: 2em;
}

.card_content
{
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    border-radius: 1em;
    transition: 0.5s ease;
    padding: 1.5em;
}

.card{
    display: flex;
    gap: 1em;
    align-items:flex-end;
    padding: 1em;
    justify-content: center;
}

.card li {
    list-style-type: none;
    font-size: 1.5em;
}

.card li b{
    font-family: 'Crimson Text', serif;
}

.card_content .contact_icons{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 2em;
}


.card_content:hover{
    box-shadow: 5px 5px;
    cursor: pointer;
}
@media (max-width: 700px) {
    .card_content{
        width: 100%;
    }
  }