.blog_form .blog_form_inputs{
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .blog_form label{
    display: block;
  }
  
  .blog_form input, .blog_form textarea{
    font-size: large;
    margin-bottom: 1em;
  }
  
  .blog_form button{
    color: white;
    background-color: #f1356d;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-size: large;
  }