
/* blog previews / list */
.blog_preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  .blog_preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .blog_preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
  }

  .blog_preview p {
    color: black;
  }
  
  .blog_link{
    text-decoration: none;
  }
  